<div class="row">
  <div class="col-md-8 pull-left">
    <video id="<%=@video.id %>" class="video-js vjs-default-skin vjs-big-play-centered"
    controls preload="auto" width="620" height="460">
      <source src="<%= @src %>" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="col-md-4 list-group pull-right">
    <a href="#" class="list-group-item active">
      Cras justo odio
    </a>
    <% video_list_by_tags.each do |video| %>
      <a href="/video/<%= video.id%>" class="list-group-item" data-toggle="tooltip" data-placement="bottom" title="<%= video.tags%>"><%= video.name%></a>
    <% end %>
  </div>
</div>

<div class="add-tag-div">
  <!-- <form class="form-inline">  '/user/signin'-->
  <%= form_tag( {:action => 'add_tag', :controller => 'video'}, {:class => 'form-inline'} ) do -%>
    <div class="hidden">
      <label for="exampleInputVideoId">Tags</label>
      <input type="text" name="id" class="form-control" id="exampleInputVideoId" value=<%= @video.id %>>
    </div>
    <div class="form-group">
      <label for="exampleInputTags">Tags</label>
      <input type="text" name="tags" class="form-control" id="exampleInputTags" placeholder="add tags, please split by ','">
    </div>
    <button type="submit" class="btn btn-default">Add</button>
  <% end -%>
</div>

<div class="add-tag-div">
  <% @tag_list.each do |tag| %>
    <a href=""><span class="label label-primary"><%= tag%></span></a>
  <% end %>
</div>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>